// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


@font-face{
  font-family:'ColaborateRegular';
  src:url("fonts/ColabReg-webfont.eot");
  src:url("fonts/ColabReg-webfont.eot?#iefix") format("embedded-opentype"),url("fonts/ColabReg-webfont.woff") format("woff"),url("fonts/ColabReg-webfont.ttf") format("truetype"),url("fonts/ColabReg-webfont.svg#ColaborateRegular") format("svg");
  font-weight:normal;font-style:normal
}
@font-face{font-family:'MuseoRegular';
  src:url("fonts/Museo500-regular-webfont.eot");
  src:url("fonts/Museo500-regular-webfont.eot?#iefix") format("embedded-opentype"),url("fonts/Museo500-regular-webfont.woff") format("woff"),url("fonts/Museo500-regular-webfont.ttf") format("truetype"),url("fonts/Museo500-regular-webfont.svg#MuseoRegular") format("svg");
  font-weight:normal;
  font-style:normal
}

#site-title {
  font-family: 'MuseoRegular';
  color: rgb(255, 255, 255);
}